.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 15px 45px;
    border-radius: 50px;
    background: linear-gradient(120deg, #420984 0%, #790ee4 10%, #ba4cff 30%, #c905ff 45%, #ff1ae0 60%, #fff346 100%);    
    cursor: pointer;
    transition: 0.2s;
    box-shadow:
        0 0 10px #ffffff,   
        0 0 20px #ff0099,  
        0 0 30px #ff00a2;
}

.nav-connect:hover{
    transform: scale(1.05);
}